@CHARSET "UTF-8";
.container {
	position: relative;
}
.container table.kv-table {
	margin-top: 100px;
	margin-bottom: 20px;
	width: 40%;
	border-collapse: separate;
	border-spacing: 0 10px;
	text-align: center;
	margin-left: 35%;
}

.container table.kv-table td.kv-label {
	height: 26px;
	width: 30%;
	font-size: 12px;
	text-align: right;
}

.container table.kv-table td.kv-content {
	height: 26px;
	padding-left: 20px;
	font-size: 12px;
	text-align: left;
}

/* .container table.kv-table td.kv-content .kv-text {
	width: 100%;
	height: 26px;
	
} */

.container table.kv-table td.kv-content a:hover {
	text-decoration: underline
}

.container .btn-selection {
	text-align: center;
}

.container .btn-selection .save-btn {
	background-color: #1da02b;
	margin-right: 40px;
	border: 0px;
}

.container .btn-selection .edit-btn {
	background-color: #1da02b;
	margin-right: 40px;
	border: 0px;
}

.container .btn-selection .reset-btn {
	background-color: #f45438;
	margin-left: 40px;
	border: 0px;
}

.container .btn-selection .exit-btn {
	background-color: #f45438;
	margin-left: 40px;
	border: 0px;
}