html, body {
	height: 100%;
}

#north {
	position: relative;
	z-index: 2;
	background-color: #1da02b;
}

#north .north-user {
	position: relative;
	float: right;
	margin-right: 20px;
	padding: 0 10px;
	height: 70px;
	line-height: 70px;
	cursor: pointer
}

#north .north-user .north-user-photo {
	float: left;
	margin: 12px 10px 0 0;
	width: 40px;
	height: 40px
}

#north .north-user .north-user-photo img {
	margin: 4px;
}

#north .north-user .north-user-username {
	float: right;
	margin-top: 20px
}

#user a:link {
	color: #0000ff;
	text-decoration: none;
}

#user a:visited {
	color: #0000ff;
	text-decoration: none;
}

#user a:hover {
	color: #0000ff;
	text-decoration: none;
}

#user a:active {
	color: #0000ff;
	text-decoration: none;
}